Button {
  color: white;
  background-color: #db534b !important;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.LoginPanel {
  position: fixed;
  left: 40%;
  background-color: #dedcd6;
  width: 30pc;
  text-align: center;
  padding: 2pc;
  padding-top: 1pc;
  box-shadow: 0px 2px #b8b8b7;
}

.icons {
  padding: 5px;
}

.LoginButton {
  width: 100%;
  height: 40px;
}

.dot {
  position: absolute;
  top: -65px;
  left: 29%;
  height: 100px;
  width: 100px;
  background-color: rgb(43, 43, 43);
  border-radius: 50%;
  display: inline-block;
  padding: 10px;
}

.dot_logo {
  width: 90%;
  height: 90%;
}

.PostCard {
  color: rgb(3, 211, 145);
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  display: flex;
  display: inline-block;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(51, 105, 87);
  margin: 5px;
}

.PostDisplay {
  background-color: rgb(4, 44, 31);
  color: aquamarine;
  display: flex;
  /* padding-left: 25px; */
  text-align: center;
  justify-content: space-around;
}

/* .PostView {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.808);
  justify-content: center;
  justify-content: space-around;
} */

.CommentSection {
  color: rgb(0, 34, 15);
  background-color: rgb(66, 66, 66);
  padding: 5px;
  height: 550px;
  overflow-y: auto;
}

.CommentField {
  background-color: #686868;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.CommentCard {
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 124, 88);
  padding: 5px;
  margin: 5px;
}

.EditForm {
  display: flex;
  color: aquamarine;
  background-color: rgb(11, 80, 57);
  flex-direction: column;
  padding: 20px;
}

.postList {
  padding: 15px;
  background-color: rgba(15, 73, 54, 0.575);
  text-align: center;
  height: 650px;
  overflow-y: auto;
}

h1 {
  margin-left: 20px;
}

h2 {
  margin-left: 40px;
}

p,
label {
  color: rgb(57, 255, 189);
  font-family: 'Teko', sans-serif;
  font-size: 23px;
}