/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.container {
    width: 630px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    overflow: hidden;
    border: 20px solid rgb(1, 27, 1);
    background-color: rgba(2, 99, 42, 0.459);
    box-shadow: 10px 25px 30px black;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 25s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}